[Unit]
Description=Noctalia Shell
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/noctalia-shell
Restart=on-failure
RestartSec=5
